<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
      
<%- include("./parts/header") %>
   
    <div class="profile">
        <div class="imgpro">
      <img src="imgs/profile.png" ></image>
      <button id="edit"> Edit Picture</button>
      </div>
     <h3 id="name"><%= user.fname + " "+user.lname %></h3> 
     <h3 id="email"><%= user.email %></h3> 
     <h3 id="password"><%= user.password %></h3> 
      <!-- <input type="text" name="" placeholder=" First Name " id="first">
      <input type="text" name="" placeholder=" Last Name " id="last">
      <input type="email" name="" placeholder=" Email " id="email554">
      <input type="password" name="" placeholder=" Password " id="passpf">
      <div class="buttonss">
        <button id="update"> Update</button>
       <button id="delete">Delete</button>
       -->

      </div>


     </div>

  


<%- include("./parts/footer") %>

     <script src="js/home.js"></script>
    <script>
 window.onload =      profiile();
   </script> 
<!-- <script>

  const response = fetch
        (
            'http://localhost:8080/profile',
        {
        method: 'get',
          headers: { "Content-Type": "application/json" },
        }
        ).then(a =>a.json()).then(user => {
          document.getElementById("first").value = user.fname;
          document.getElementById("last").value = user.lname;
          document.getElementById("email554").value = user.email;
          document.getElementById("passpf").value = user.password;
        })
</script>
 -->
</body>
</html>